# Specific Files
/config.toml

# General Files
*.bak
*.csv
*.hyper
*.ipynb
*.old
*.pkl
*.py
*.sqbpro
*.sqlite
*.txt
*.xlsx

# Directories
.ipynb_checkpoints/
__pycache__/

# Include
!/hand_history_test.sqlite
!/stats.py